# Firebase Config
EXPO_PUBLIC_FIREBASE_API_KEY=your_api_key_here
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=honeywell-catering.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=honeywell-catering
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=honeywell-catering.appspot.com
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
EXPO_PUBLIC_FIREBASE_APP_ID=your_app_id
